<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manajement tugas landing page</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="top">
  <main>

    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title">MANAJEMENT TUGAS</h1>

            <p class="hero-text">
              Membuat, mengelola, dan memantau tugas-tugas Anda secara efisien di berbagai perangkat untuk meningkatkan produktivitas dan keberhasil tugas.
            </p>

            <button class="btn btn-primary">Get started</button>

          </div>

          <div class="hero-banner"></div>

        </div>

        <img src="images/bg.png" alt="shape" class="shape-content">
      </section>


      <!-- 
        - #ABOUT
      -->

      <section class="about" id="about">
        <div class="container">

          <div class="about-top">

            <h2 class="h2 section-title">Apa yang kami lakukan</h2>

            <p class="section-text">
              Optimalkan produktivitas Anda dengan platform manajement tugas, 
              yang menggunakan teknologi untuk memprioritaskan, kolaborasi, dan pembagian tugas berdasarkan role.
            </p>

            <ul class="about-list">

              <li>
                <div class="about-card">

                  <div class="card-icon">
                    <ion-icon name="briefcase-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Role hierarki</h3>

                  <p class="card-text">
                    Owner mengawasi keseluruhan projek, Manager mengkoordinasi projek, dan Employee menjalankan tugas
                  </p>

                </div>
              </li>

              <li>
                <div class="about-card">

                  <div class="card-icon">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Penjadwalan dan Notifikasi Otomatis</h3>

                  <p class="card-text">
                    manajement tugas secara otomatis menjadwalkannya di Google Calendar Anda dan mengirimkan notifikasi Email
                  </p>

                </div>
              </li>

              <li>
                <div class="about-card">

                  <div class="card-icon">
                    <ion-icon name="rocket-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Manajemen Board Proyek</h3>

                  <p class="card-text">
                    Dalam satu board projek, Anda dapat membuat dan mengelola banyak task
                  </p>

                </div>
              </li>

            </ul>

          </div>

          <div class="about-bottom">

            <figure class="about-bottom-banner">
              <img src="images/about-banner.png" alt="about banner" class="about-banner">
            </figure>

            <div class="about-bottom-content">

              <h2 class="h2 section-title">Kami berkomitmen untuk terus mengembangkan aplikasi dan mendorong kesuksesan Anda</h2>

            </div>

          </div>

        </div>
      </section>

      <!-- 
        - #FEATURES
      -->

      <section class="features" id="features">
        <div class="container">

          <h2 class="h2 section-title">Bentuk tim Anda dan sukseskan projek Anda dengan kolaborasi</h2>

          <p class="section-text">
          </p>

          <ul class="features-list">

            <li class="features-item">

              <figure class="features-item-banner">
                <img src="images/feature-1.png" alt="feature banner">
              </figure>

              <div class="feature-item-content">
                <h3 class="h2 item-title">Owner</h3>

                <p class="item-text">
                  • Menentukan strategi dan tujuan jangka panjang<br>
                  • Mengatur manager<br>
                  • Melihat laporan kinerja keseluruhan
                </p>
              </div>

            </li>

            <li class="features-item">

              <figure class="features-item-banner">
                <img src="images/feature-2.png" alt="feature banner">
              </figure>

              <div class="feature-item-content">
                <h3 class="h2 item-title">Manager</h3>

                <p class="item-text">
                  • Membuat detail rencana projek<br>
                  • Berkolaborasi dengan manager lainnya<br>
                  • Mengatur employee<br>
                  • Memantau dan menentukan prioritas projek<br>
                </p>
              </div>

            </li>

            <li class="features-item">

              <figure class="features-item-banner">
                <img src="images/feature-3.png" alt="feature banner">
              </figure>

              <div class="feature-item-content">
                <h3 class="h2 item-title">Employee</h3>

                <p class="item-text">
                  • Menerima dan mengelola tugas yang berdasarkan rencana yang ditetapkan<br>
                  • Berkolaborasi dengan employee lainnya<br>
                  • Melaporkan kendala atau masalah
                </p>
              </div>

            </li>

          </ul>

        </div>
      </section>

    </article>

  </main>

  <!-- 
    - #FOOTER
  -->

  <footer>

    <div class="footer-bottom">
      <p class="copyright">
        &copy; 2024 <a href="https://www.instagram.com/muhammadandres_?igsh=bnoxbG15cG03MXlr">M. Andres Novrizal</a> All right reserved
      </p>
    </div>

  </footer>

  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top active" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>

  <script src="script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>